include ./variables.pug

mixin links (path)
  li: a(href= path + "/") الرئيسية
  li: a(href= path + "/pages/menu.html") القائمة
  li: a(href= path + "/pages/booking.html") الحجز
  li: a(href= path + "/pages/galary.html") المعرض
  li: a(href= path + "/pages/contact-us.html") اتصل بنا
  li: a(href= path + "/pages/about.html") عن الموقع

mixin header (path) 
  .logo: a(href= path + "/"): img(src= path + "/imgs/logo.png")
  .dropmenu: div: i.fa-solid.fa-bars(role="button")
  .overlay
    button.close(aria-label="إغلاق القائمة", type="button") X 
    ul.menu
      +links(path)
  nav(aria-label="القائمة الرئيسية"): ul
    +links(path)

mixin head (title, path)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href= path + "/css/layout.css")
    link(rel="stylesheet", href= path + "/css/all.min.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap")
    link(rel="shortcut icon", href= path + "/imgs/logo.png", type="image/x-icon")
    link(rel="preload", href= path + "/imgs/logo.png", as="image")
    //- base(href="/armonia-italia/dist/")
    title #{title}

mixin heading (text)
  h2.head - #{text} -

mixin menu (num, path)
  +heading("القائمة")
  ul
    li.button.active(data-type="appetizers") المقبلات
    li.button(data-type="main") الأطباق الرئيسية
    li.button(data-type="pizza") البيتزا
    li.button(data-type="deserts") الحلويات
    li.button(data-type="drinks") المشروبات
  .cards
mixin footer (path)
  .cont
    .footer-sections
      section.footer-section
        h3 عن المطعم
        p مطعم أرمانيا إيطاليا يقدم لكم أفضل الأطباق الإيطالية المعدة بأجود المكونات الطازجة. تأسس مطعمنا في عام 2002 ومنذ ذلك الوقت ونحن نسعى لتقديم تجربة طعام فريدة ومميزة.
      section.footer-section
        h3 روابط سريعة
        ul
          +links(path)
      section.footer-section
        h3 تابعنا على
        ul.social-media
          li: a(href="#"): i.fab.fa-facebook-f
          li: a(href="#"): i.fab.fa-twitter
          li: a(href="#"): i.fab.fa-instagram
          li: a(href="#"): i.fab.fa-linkedin-in
      section.footer-section
        h3 معلومات التواصل
        address 
          ul
            li
              strong العنوان:
              |  شارع البطل احمد عبدالعزيز، المهندسين، الجيزة
            li
              strong رقم الهاتف:
              |  0103854127
            li
              strong البريد الالكتروني:
              |  armonia-italia@gmail.com
    .footer-bottom
      p &copy; 2025 أرمانيا إيطاليا. جميع الحقوق محفوظة.
