include ../helpers/pug/mixins.pug
doctype html
html(lang="ar" dir="rtl")  
  +head("Menu", mainPath + mainPath)
  body
    header.container
      +header(mainPath + mainPath)
    +menu(100)
    include ../components/footer.pug
  script(src="/js/main.js")
