.contact
  .container
    +heading("اتصل بنا")
    <p>نحن هنا للإجابة على أي استفسارات أو تقديم المساعدة التي تحتاجها. لا تتردد في التواصل معنا عبر النموذج أدناه أو استخدام معلومات الاتصال الأخرى المتاحة.</p>
    .contact-info
      ul
        li 
          strong العنوان: 
          | شارع البطل احمد عبدالعزيز، المهندسين، الجيزة 
        li 
          strong رقم الهاتف: 
          | 0103854127
        li
          strong البريد الالكتروني: 
          | armonia-italia@gmail.com
        li
          strong المواعيد: 
          | الأحد - الخميس: 9 صباحاً - 11 مساءً، الجمعة - السبت: 10 صباحاً - 12 منتصف الليل
        li: a.button للمزيد
      .map-container
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2382.861675272914!2d31.20537407735465!3d30.0541788695238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1719263310357!5m2!1sar!2seg",style="border: 0",allowfullscreen="",loading="lazy",referrerpolicy="no-referrer-when-downgrade")
  