.contact
  .container
    +heading("اتصل بنا")
    <p>نحن هنا للإجابة على أي استفسارات أو تقديم المساعدة التي تحتاجها. لا تتردد في التواصل معنا عبر النموذج أدناه أو استخدام معلومات الاتصال الأخرى المتاحة.</p>
    .contact-info
      ul
        li
          i.fas.fa-map-marker-alt
          | شارع البطل أحمد عبدالعزيز، المهندسين، الجيزة
        li
          i.fas.fa-phone
          | 0103854127
        li
          i.fas.fa-envelope
          | armonia-italia@gmail.com
        li
          strong المواعيد: 
          | الأحد - الخميس: 9 صباحاً - 11 مساءً، الجمعة - السبت: 10 صباحاً - 12 منتصف الليل
        li: a.button(href="./pages/contact-us.html" role="button" tabindex="0") للمزيد
      +map