.contact
  .container
    +heading("اتصل بنا")
    <p>نحن هنا للإجابة على أي استفسارات أو تقديم المساعدة التي تحتاجها. لا تتردد في التواصل معنا عبر النموذج أدناه أو استخدام معلومات الاتصال الأخرى المتاحة.</p>
    .contact-info
      ul
        li 
          strong العنوان: 
          | شارع البطل احمد عبدالعزيز، المهندسين، الجيزة 
        li 
          strong رقم الهاتف: 
          | 0103854127
        li
          strong البريد الالكتروني: 
          | armonia-italia@gmail.com
        li
          strong المواعيد: 
          | الأحد - الخميس: 9 صباحاً - 11 مساءً، الجمعة - السبت: 10 صباحاً - 12 منتصف الليل
        li: a.button للمزيد
      +map