.footer-section
  h3 عن المطعم
  p مطعم أرمانيا إيطاليا يقدم لكم أفضل الأطباق الإيطالية المعدة بأجود المكونات الطازجة. تأسس مطعمنا في عام 2002 ومنذ ذلك الوقت ونحن نسعى لتقديم تجربة طعام فريدة ومميزة.
.footer-section
  h3 روابط سريعة
  ul
    +links(mainPath)
.footer-section
  h3 تابعنا على
  ul.social-media
    li: a(href="#"): i.fab.fa-facebook-f
    li: a(href="#"): i.fab.fa-twitter
    li: a(href="#"): i.fab.fa-instagram
    li: a(href="#"): i.fab.fa-linkedin-in
.footer-section
  h3 معلومات التواصل
  ul
    li
      strong العنوان:
      |  شارع البطل احمد عبدالعزيز، المهندسين، الجيزة
    li
      strong رقم الهاتف:
      |  0103854127
    li
      strong البريد الالكتروني:
      |  armonia-italia@gmail.com
