include ../src/helpers/pug/mixins.pug
doctype html
html(lang="ar" dir="rtl")
  include ../src/helpers/pug/head.pug
  body
    include ../src/components/header.pug
    main.container
      div مرحباً بكم في مطعمنا الإيطالي، حيث يجمع <span>التقاليد الإيطالية الأصيلة</span> مع الطهي الحديث لتقديم تجربة لا تُنسى لمحبي المأكولات الإيطالية.
    .about.container
      .content
        +heading("نبذة")
        .text يتميز مطعمنا بأجوائه الدافئة والأنيقة، حيث يقدم تشكيلة متنوعة من الأطباق الإيطالية الشهية بتوقيع شيف مخضرم وفريقه المحترف. تأسس المطعم في عام <span>2002</span> وسرعان ما أصبح وجهة محبوبة لعشاق الطعام في المنطقة.
        .button للمزيد
      .img: img(src="./imgs/about.jpg")
    include ../src/components/menu.pug
    include ../src/components/booking.pug
    include ../src/components/galary.pug
    include ../src/components/contact.pug
    include ../src/components/testimonials.pug
    include ../src/components/footer.pug
  script(src="./js/main.js")