@use "../src/helpers/sass/variables" as *;
@use "../src/helpers/sass/mixin" as *;

// basic styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0 0 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white-color;
}

@include headerContainerPadding(0 100px);

@include breakPoints(lg) {
  @include headerContainerPadding(37.5px 75px);
}

// header
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  background-color: $white-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a img {
      width: 80px;
      height: 70px;
    }
  }

  .dropmenu {
    display: none;
    cursor: pointer;
    border: 2px solid #000;
    font-size: 25px;
    padding: 3px 6px;
    border-radius: 3px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-color;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      animation: fadeIn 0.3s ease forwards;
      visibility: visible;
    }

    .close {
      background-color: $red-color;
      color: $white-color;
      cursor: pointer;
      outline: none;
      border: none;
      font-weight: bold;
      width: 30px;
      height: 30px;
      margin: 30px;
      border-radius: 50%;
      position: relative;
      div {
        @include center("both");
      }
    }

    .menu {
      @include center("both");
      text-align: center;

      li {
        padding: 3px;

        a {
          color: $green-color;
          font-weight: bold;
        }
      }
    }
  }

  nav ul {
    display: flex;
    gap: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

    li a {
      color: $green-color;
      @include time;

      &:hover {
        color: $red-color;
      }
    }
  }
}

@include breakPoints(md) {
  @include headerContainerPadding(25px 50px);

  header {
    .dropmenu {
      display: block;
    }

    nav {
      display: none;
    }
  }
}

@include breakPoints(lg) {
  @include headerContainerPadding(10px 25px, 16px);
}

// main Styling
main {
  position: relative;
  background-image: url(../imgs/main/main3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  font-weight: 600;

  p {
    @include center("y");
    color: $red-color;
    font-size: clamp(22px, 4vw, 35px);
    width: 48%;
    text-align: justify;

    span {
      color: $green-color;
    }
  }

  @include breakPoints(md) {
    background-image: url(../imgs/main/main-3.jpg);

    p {
      text-align: center;
    }
  }

  @include breakPoints(sm) {
    background-image: url(../imgs/main/small.png);

    p {
      @include center("both");
      width: 100%;
    }
  }
}

// Footer Styling
footer {
  background-color: #333;
  padding: 50px 0;
  color: $white-color;
  font-size: 14px;

  .cont {
    display: flex;
    flex-direction: column;
  }

  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .footer-section {
      flex: 1;
      min-width: 200px;
      margin: 20px;

      h3 {
        font-size: 18px;
      }

      p {
        line-height: 1.5;
        text-align: justify;
      }

      li {
        margin-bottom: 10px;

        a {
          @include time();

          &:hover {
            color: $green-color;
            @include time();
          }
        }
      }

      .social-media {
        li {
          margin-right: 10px;

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    width: 100%;

    p {
      margin: 0;
    }
  }
}

@include breakPoints(sm) {
  footer {
    padding: 30px 10px;

    .footer-sections {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;

      .footer-section {
        flex-basis: 100%;
        margin: 0;
        padding-bottom: 20px;

        h3,
        p,
        ul,
        address {
          margin-bottom: 15px;
        }
      }
    }
  }
}
